<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.yama.android"
      android:versionName="2" android:versionCode="2">
    <application android:icon="@drawable/launcher" android:label="@string/app_name">
        <activity android:name=".Rendezvous"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yama-android-app"/>
            </intent-filter>
        </activity>
		<activity  android:name=".views.activity.EventInfoActivity"  android:label="Meetup Information"></activity>
        <activity  android:name=".views.activity.GroupInfoActivity"  android:label="Group Information"></activity>
        <activity android:name=".views.activity.RendezvousPreferences" android:label="Settings"></activity>
        <activity android:name=".views.activity.GalleryActivity" android:label="Gallery"></activity>
        <activity android:name=".views.activity.UploadPhotoActivity" android:label="Upload Photo"></activity>
        
        
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<uses-sdk android:minSdkVersion="4" />
</manifest> 